@page "/"

@using CentroEventos.UI.Components;

<Sidebar />
<Header />

<PageTitle>Menu principal</PageTitle>
<div class="contenedor-principal">
   
    <h1>SISTEMA DE GESTIÓN</h1> 
    <h1>DEL CENTRO DEPORTIVO UNIVERSITARIO</h1>

    <FormUsuario />
</div>
