@page "/Registro"
@using CentroEventos.Aplicacion.Entidades

<PageTitle>Registro</PageTitle>

<h2>Registro de nuevo usuario</h2>

<EditForm Model="@usuario">
    <InputText @bind-Value="usuario.Nombre" placeholder="Nombre" class="form-control" />
    <InputText @bind-Value="usuario.Apellido" placeholder="Apellido" class="form-control" />
    <InputText @bind-Value="usuario.Email" placeholder="Email" class="form-control" />
    <InputText @bind-Value="usuario.Contraseña" placeholder="Contraseña" type="password" class="form-control" />
    
    <button class="btn btn-primary" type="submit">Registrarse</button>
</EditForm>

@code {
    private Usuario usuario = new Usuario();
}