.contenedor-principal[b-ydm72fqq40] {
    text-align: center;
    margin-top: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1[b-ydm72fqq40] {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
}

Formulario[b-ydm72fqq40] {
    display: block;
    margin: 2rem auto;
}